version: '3.8'

networks:
  raft-net:
    driver: bridge

services:
  kv-0:
    build: .
    container_name: kv-0
    restart: on-failure
    command: >
      -id=0 
      -http=8001 
      -port=5001 
      -peers=kv-0:5001,kv-1:5001,kv-2:5001  
      -peer-template="http://kv-%d:8001"
    ports:
      - "8001:8001"
    volumes:
      - wal_0:/root/Storage/wal
      - data_0:/root/Storage/data
    networks:
      - raft-net
  kv-1:
      build: .
      container_name: kv-1
      restart: on-failure
      command: >
        -id=1 
        -http=8001                 
        -port=5001                  
        -peers=kv-0:5001,kv-1:5001,kv-2:5001  
        -peer-template="http://kv-%d:8001"
      ports:
        - "8002:8001"
      volumes:
        - wal_1:/root/Storage/wal
        - data_1:/root/Storage/data
      networks:
        - raft-net
  kv-2:
      build: .
      container_name: kv-2
      restart: on-failure
      command: >
        -id=2 
        -http=8001                 
        -port=5001                
        -peers=kv-0:5001,kv-1:5001,kv-2:5001  
        -peer-template="http://kv-%d:8001"
      ports:
        - "8003:8001"
      volumes:
        - wal_2:/root/Storage/wal
        - data_2:/root/Storage/data
      networks:
        - raft-net
  prometheus:
    image: prom/prometheus
    volumes:
      - ./deploy/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - raft-net
  grafana:
    image: grafana/grafana-oss
    ports:
      - "3000:3000"
    volumes:
      - ./deploy/grafana/provisioning:/etc/grafana/provisioning
      - ./deploy/grafana/dashboards:/var/lib/grafana/dashboards
    networks:
      - raft-net
    depends_on:
      - prometheus
volumes:
    wal_0:
    data_0:
    wal_1:
    data_1:
    wal_2:
    data_2: